<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <%- include('./partials/meta'); %>
    <title>
      <%= botname %> - Dashboard
    </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendor/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/vendor/css/vendor.bundle.base.css" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendor/jvectormap/jquery-jvectormap.css" />
    <link rel="stylesheet" href="/vendor/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/vendor/owl-carousel-2/owl.carousel.min.css" />
    <link rel="stylesheet" href="/vendor/owl-carousel-2/owl.theme.default.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- End layout styles -->
    <link rel="icon" type="image/png" href="/assets/images/logo.jpg" />
</head>

<body>
  <div class="container-scroller">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <%- include('./partials/sidebar'); %>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
          <a class="navbar-brand brand-logo-mini" href="/web/welcome"><img src="/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <ul class="navbar-nav w-100">
            <li class="nav-item w-100">
              <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                <input type="text" class="form-control" placeholder="Search products" />
              </form>
            </li>
          </ul>
          <%- include('./partials/headers'); %>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
              data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card corona-gradient-card">
                <div class="card-body py-0 px-0 px-sm-3">
                  <div class="row align-items-center">
                    <div class="col-4 col-sm-3 col-xl-2">
                      <img src="/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="" />
                    </div>
                    <div class="col-5 col-sm-7 col-xl-8 p-0">
                      <h4 class="mb-1 mb-sm-0">What is this dashboard?</h4>
                      <p class="mb-0 font-weight-normal d-none d-sm-block">
                        This is a dashboard that provides you with a lot of information about your
                        bot, such as the number of users, the number of messages, the number of
                        commands, and much more.
                      </p>
                    </div>
                    <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                      <span>
                        <a href="#" target="_blank" class="btn btn-outline-light btn-rounded get-started-btn">Terms &
                          Conditions</a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Client</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">
                          <%= bot.usersAmount %> users
                        </h2>
                        <p class="text-success ml-2 mb-0 font-weight-medium">
                          <%= bot.commands %>
                        </p>
                      </div>
                      <h6 class="text-muted font-weight-normal">
                        <%= bot.uptime %>
                      </h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-access-point-network text-primary ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Server</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">
                          <%= server.guilds %> guilds
                        </h2>
                        <p class="text-success ml-2 mb-0 font-weight-medium">
                          <%= server.bots %>
                        </p>
                      </div>
                      <h6 class="text-muted font-weight-normal">
                        <%= server.date %>
                      </h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-account-multiple text-danger ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h5>Machine</h5>
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">
                          <%= machine.ram %> ram
                        </h2>
                        <p class="text-danger ml-2 mb-0 font-weight-medium">
                          <%= machine.nodeVersion %>
                        </p>
                      </div>
                      <h6 class="text-muted font-weight-normal">
                        <%= machine.machine %>
                      </h6>
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-monitor text-success ml-auto"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <h4 class="card-title">Messages</h4>
                    <p class="text-muted mb-1 small">View all</p>
                  </div>
                  <div class="preview-list">
                    <% messages.forEach((message)=> { %>
                      <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                          <img src="<%= message.avatar %>" alt="image" class="rounded-circle" />
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                          <div class="flex-grow">
                            <div class="d-flex d-md-block d-xl-flex justify-content-between">
                              <h6 class="preview-subject">
                                <%= message.name %>
                              </h6>
                              <p class="text-muted text-small">
                                <%= message.time %>
                              </p>
                            </div>
                            <p class="text-muted">
                              <%= message.content %>
                            </p>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Development History</h4>
                  <canvas id="transaction-history" class="transaction-chart"></canvas>
                  <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                      <h6 class="mb-1">
                        TypeScript Development
                      </h6>
                      <p class="text-muted mb-0">07 Jan 2023, 09:12AM</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                      <h6 class="font-weight-bold mb-0">
                        %43
                      </h6>
                    </div>
                  </div>
                  <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                      <h6 class="mb-1">
                        NodeJs Development
                      </h6>
                      <p class="text-muted mb-0">07 Jan 2023, 09:12AM</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                      <h6 class="font-weight-bold mb-0">
                        %30
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-xl-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">To do list</h4>
                  <div class="add-items d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="enter task.." />
                    <button class="add btn btn-primary todo-list-add-btn">Add</button>
                  </div>
                  <div class="list-wrapper">
                    <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom">
                      <% tasks.forEach(task=> { %>
                        <li>
                          <div class="form-check form-check-info">
                            <label class="form-check-label">
                              <input class="checkbox" type="checkbox" />
                              <%= task.content %>
                            </label>
                          </div>
                          <i class="remove mdi mdi-close-box"></i>
                        </li>
                        <% }) %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- Header Forms -->
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">
                  Form Utils
                </h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Forms</li>
                  </ol>
                </nav>
              </div>
            </div>
            <!-- End Header Forms -->
            <!-- Login Form -->
            <!-- form login api -->
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Register API</h4>
                  <form class="form-sample">
                    <p class="card-description"> Personal info </p>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row form-control-lg">
                          <label class="col-sm-3 col-form-label">Name</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row form-control-lg">
                          <label class="col-sm-3 col-form-label">Discord ID</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="discordId" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row form-control-lg">
                          <label class="col-sm-3 col-form-label">Role</label>
                          <div class="col-sm-9">
                            <select class="form-control" id="role">
                              <option>User</option>
                              <option>Customer</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row form-control-lg">
                          <label class="col-sm-3 col-form-label">Date of Birth</label>
                          <div class="col-sm-9">
                            <input class="form-control" placeholder="dd/mm/yyyy" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row form-control-lg">
                          <label class="col-sm-3 col-form-label">Email</label>
                          <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row form-control-lg">
                          <label class="col-sm-3 col-form-label">Password</label>
                          <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-rounded btn-info mr-2" id="submit">Submit</button>
                    <button class="btn btn-lg btn-rounded btn-danger" id="cancel-login">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- End Login Form -->
            <div class="content-wrapper">
              <div class="page-header">
                <h3 class="page-title">
                  Order Status
                </h3>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Orders</li>
                  </ol>
                </nav>
              </div>
            </div>
            <!-- Tabke Orders -->
            <div class="col-12 grid-margin">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Order Status</h4>
                  <p class="card-description" style="font-size: 1rem;">
                    Table of orders from the client within the provider's services.
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" />
                              </label>
                            </div>
                          </th>
                          <th>Order Name</th>
                          <th>Order No</th>
                          <th>Product Cost</th>
                          <th>Project</th>
                          <th>Payment Mode</th>
                          <th>Start Date</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% orders.forEach((order)=> { %>
                          <tr>
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" />
                                </label>
                              </div>
                            </td>
                            <td>
                              <img src="<%= order.image %>" alt="image" />
                              <span class="pl-2">
                                <%= order.name %>
                              </span>
                            </td>
                            <td>
                              <%= order.number %>
                            </td>
                            <td>
                              <%= order.price %>
                            </td>
                            <td>
                              <%= order.quantity %>
                            </td>
                            <td>
                              <%= order.metode %>
                            </td>
                            <td>
                              <%= order.date %>
                            </td>
                            <td>
                              <% if (order.status==='Approved' ) { %>
                                <div class="badge badge-outline-success">Approved</div>
                                <% } else if (order.status==='Pending' ) { %>
                                  <div class="badge badge-outline-warning">Pending</div>
                                  <% } else if (order.status==='Rejected' ) { %>
                                    <div class="badge badge-outline-danger">Rejected</div>
                                    <% } else { %>
                                      <div class="badge badge-outline-info">Unknown</div>
                                      <% } %>
                            </td>
                          </tr>
                          <% }); %>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Table Orders -->
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <%- include('./partials/credits'); %>
          <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendor/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <script src="/vendor/progressbar.js/progressbar.min.js"></script>
  <script src="/vendor/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/vendor/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/misc.js"></script>
  <script src="/js/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/js/auth/auth-api-login.js"></script>
  <script src="/js/dashboard.js"></script>
  <!-- End custom js for this page -->
</body>

</html>